.forgot-card-margin {
  margin: -40px !important;
  padding: 50px;
}

@media only screen and (max-width: 600px) {
  .forgot-card-margin {
    margin: 0px !important;
    padding: 20px;
  }
  .forgot-card {
    margin: 15px 0px !important;
  }
}
