.dashboard-card .card-padding {
  padding: 30px;
  text-align: center;
}

.dashboard-card:hover {
  box-shadow: 0px 1px 28px 0px rgba(189, 187, 189, 1);
}

.dashboard-card .card-number {
  padding: 10px;
}

.dashboard-card .card-number-label {
  font-size: 34px;
  font-weight: 900;
}

.dashboard-card .card-label {
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}

.dashboard-card .card-icon-files {
  border: 2px solid #2981ff;
  display: inline-flex;
  padding: 7px;
  background: #e5f3fe;
  color: #2981ff;
  border-radius: 27px;
}

.dashboard-card .card-icon-img {
  border: 2px solid #7e5ffe;
  display: inline-flex;
  padding: 7px;
  background: #f3f1ff;
  color: #7e5ffe;
  border-radius: 27px;
}

.dashboard-card .card-icon-audio {
  border: 2px solid grey;
  display: inline-flex;
  padding: 7px;
  background: #f3f3f3;
  color: grey;
  border-radius: 27px;
}

.dashboard-card .card-icon-ppt {
  border: 2px solid #ca4424;
  display: inline-flex;
  padding: 7px;
  background: #ffffff;
  color: #ca4424;
  border-radius: 27px;
}

.dashboard-card .card-icon-word {
  border: 2px solid #295491;
  display: inline-flex;
  padding: 7px;
  background: #ffffff;
  color: #295491;
  border-radius: 27px;
}

.dashboard-card .card-icon-excel {
  border: 2px solid;
  display: inline-flex;
  padding: 7px;
  background: #ffffff;
  color: #1e6e42;
  border-radius: 27px;
}

.dashboard-card .card-icon-pdf {
  border: 2px solid #e71b23;
  display: inline-flex;
  padding: 7px;
  background: #ffffff;
  color: #e71b23;
  border-radius: 27px;
}

.dashboard-card .card-icon-video {
  border: 2px solid #000000;
  display: inline-flex;
  padding: 7px;
  background: #ffffff;
  color: #000000;
  border-radius: 27px;
}

.dashboard-card .card-icon-other {
  border: 2px solid #56ce55;
  display: inline-flex;
  padding: 7px;
  background: #ebf9ea;
  color: #56ce55;
  border-radius: 27px;
}
